.button {
    background-image: linear-gradient(to bottom right, var(--purple),
        var(--pink));
    border: 0;
    border-radius: 14px;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 0px black;
    min-width: 10%;
    cursor: pointer;
    padding: 4px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    transition: linear 0.1s;
    
}

.button p{
    font-family: var(--font3);
    font-size: 24px;
    margin: 0;
}

.button:hover {
    background-image: linear-gradient(to bottom right, rgb(11, 214, 11),
        rgb(161, 232, 161));
}

.button:active {
    box-shadow: 0px 0px 0px 0px black, 2px 2px 2px 0px black inset;
    transition: linear 0.1s;
}

.button:disabled {
    background-image: none;
    background-color: var(--grey);
    color: var(--black);
}

#selected.button {
    background-image: linear-gradient(to bottom right, hotpink, hotpink);
    box-shadow: 0px 0px 0px 0px black, 2px 2px 2px 0px black inset;
}

