.title{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: var(--font2);
    font-size: 36px;
    text-decoration: underline;

}

.subtitle{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: var(--font1);
    font-size: 24px;

}